{% extends "base.html" %}
{% from "bootstrap4/form.html" import render_form %}

{% block content %}
<div class="container mt-4">
    <h3>{{ _('Add New Command for Account') }} '{{ account.phone_number }}'</h3>
    <hr>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {{ render_form(form, action=url_for('bot.add_custom_command', account_id=account.id)) }}
        </div>
    </div>
    <div class="mt-3">
        <a href="{{ url_for('bot.dashboard') }}" class="btn btn-secondary btn-sm">{{ _('Return to Dashboard') }}</a>
        <!-- İleride Komutları Listele linki eklenebilir -->
    </div>
</div>
{% endblock %} 